@model Gitar.Domain.Models.GitUser

<form method="post">
    <div class="row">
        <div class="col d-flex flex-row align-items-center justify-content-between">
            <input type="text" class="form-control w-75" placeholder="Github username" asp-for="Name" value="@Model.Name" id="github-username" />
            <button type="button" class="btn btn-sm btn-outline-primary" id="username-validate" onclick="CheckUsername()"> 
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="username-validate-loader"></span>
                <i class="fa" id="validate-icon"></i> &nbsp; Validate
            </button>
        </div>       
    </div>
    <hr />
    <button type="submit" class="btn btn-success w-100"> <i class="fa-solid fa-user-plus"></i> &nbsp; Add user </button>
</form>

<script>
    $(function() {
        toastr.options = {
            positionClass: "toast-top-left",
        };
    });

    function CheckUsername() {
        var $usernameInput = $('#github-username').val();
        var $validateIcon = $('#validate-icon');
        var $usernameLoader = $("#username-validate-loader");

        $usernameLoader.show();

        if ($usernameInput) {
            $.get('/Gitar/CheckUsername', { username: $usernameInput }, function(response) {
                toastr.info('Username is valid')
                $validateIcon.addClass('fa-solid fa-check-double')
                $usernameLoader.hide();
            })
            .fail(function(err) {
                toastr.error(err.responseText ?? "Unexpected error occurred", "Error");
                $validateIcon.addClass('fa-solid fa-triangle-exclamation');
                $usernameLoader.hide();
            });
        }
        else {
            toastr.warning("Please provide a username", "Warning");
            $validateIcon.removeClass();
        }

        $usernameLoader.hide();
    }
</script>
